{%- doc -%}
  Renders an article card for a given blog
{%- enddoc -%}

{%- assign article = closest.article -%}

<div class="relative">
  <a class="absolute inset-0 overflow-hidden" href="{{ article.url }}">
    <span class="sr-only">{{- article.title -}}</span>
  </a>
  <div class="bg-primary/5 aspect-[3/2] overflow-hidden rounded ">
    {%- content_for 'block', type: 'image', id: 'image' -%}
  </div>
  {%- content_for 'block', type: 'heading', id: 'heading', wrapper_class: 'mt-4' -%}
  {%- content_for 'block', type: 'details', id: 'details', wrapper_class: 'mt-1' -%}
</div>

{% schema %}
{
  "name": "Article card"
}
{% endschema %}
