<div class="grid w-full gap-4 border-none p-6 md:gap-8 md:p-8 lg:p-12">
  <h2 class="font-heading text-lead font-heading-weight">{{ section.settings.title | escape }}</h2>
  <div class="grid grid-flow-row grid-cols-1 gap-2 gap-y-6 sm:grid-cols-3 md:gap-4 lg:gap-6">
    {%- for block in section.blocks -%}
      {% render 'card-collection', card_collection: block.settings.collection %}
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "Collection list",
  "max_blocks": 15,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Collections",
      "label": "Heading"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 3,
      "label": "Number of columns on desktop"
    }
  ],
  "blocks": [
    {
      "type": "featured_collection",
      "name": "Collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection list",
      "blocks": [
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        }
      ]
    }
  ]
}
{% endschema %}
