<div class="grid w-full gap-4 border-none p-6 md:gap-8 md:p-8 lg:p-12">
  {%- content_for 'block', type: 'heading', id: 'heading' -%}

  <div
    class="grid grid-flow-row grid-cols-1 gap-2 gap-y-6 sm:grid-cols-[repeat(var(--columns-desktop),minmax(0,1fr))] md:gap-4 lg:gap-6"
    style="--columns-desktop: {{ section.settings.columns_desktop }};"
  >
    {%- for collection in section.settings.collection_list -%}
      {%- content_for 'block', type: 'collection-card', id: 'collection-card', closest.collection: collection -%}
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "Collection list",
  "settings": [
    {
      "type": "collection_list",
      "id": "collection_list",
      "label": "Collections"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 3,
      "label": "Number of columns on desktop"
    }
  ],
  "presets": [
    {
      "name": "Collection list",
      "blocks": [
        {
          "type": "heading",
          "static": true,
          "id": "heading",
          "settings": {
            "heading": "Collections",
            "heading_level": "h2",
            "heading_size": "md"
          }
        },
        {
          "type": "collection-card",
          "id": "collection-card",
          "static": true,
          "settings": {
            "collection": "{{ closest.collection }}"
          },
          "blocks": [
            {
              "type": "image",
              "static": true,
              "id": "image",
              "settings": {
                "image": "{{ closest.collection.image }}"
              }
            },
            {
              "type": "heading",
              "static": true,
              "id": "heading",
              "settings": {
                "heading": "{{ closest.collection.title }}"
              }
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
