<div class="grid w-full gap-4 py-6 md:gap-8 md:py-8 lg:py-12">
  <h2 class="px-6 font-heading text-lead font-heading-weight md:px-8 lg:px-12">
    {{ section.settings.title | escape }}
  </h2>
  <div class="swimlane hidden-scroll md:scroll-px-8 md:px-8 md:pb-8 lg:scroll-px-12 lg:px-12">
    {%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
      {%- render 'card-product', card_product: product, wrapper_class: 'w-80' -%}
    {%- else -%}
      {%- for i in (1..4) -%}
        {% render 'card-product', wrapper_class: 'w-80' %}
      {%- endfor -%}
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "Featured collection",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Featured collection"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "label": "Maximum products to show",
      "default": 5,
      "min": 5,
      "max": 15,
      "step": 1
    }
  ],
  "presets": [
    {
      "name": "Featured collection"
    }
  ]
}
{% endschema %}
