<div id="ProductGridContainer" class="grid w-full gap-4 border-none p-6 md:gap-8 md:p-8 lg:p-12">
  <div
    class="grid grid-flow-row grid-cols-2 gap-2 gap-y-6 md:grid-cols-3 md:gap-4 lg:grid-cols-4 lg:gap-6"
    id="product-grid"
    data-id="{{ section.id }}"
  >
    {%- liquid
      paginate collection.products by 12
        for product in collection.products
          assign lazy_load = false
          if forloop.index > 2
            assign lazy_load = true
          endif
          render 'card-product', card_product: product, lazy_load: lazy_load
        else
          if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0
            for i in (1..4)
              render 'card-product'
            endfor
          endif
        endfor
      endpaginate
    -%}
  </div>
</div>
