<div class="w-full p-6 py-8 md:justify-items-center md:p-8 md:text-center lg:p-12">
  <h1 class="inline-block max-w-prose-narrow font-heading text-heading font-heading-weight">
    {{ page.title | escape }}
  </h1>
</div>
<div class="grid w-full gap-4 border-none px-6 md:gap-8 md:px-8 lg:px-12">
  <div class="article prose empty:hidden">
    {{- page.content -}}
  </div>
</div>
