<div class="grid w-full gap-8 p-6 py-8 md:p-8 lg:p-12 justify-items-start">
  <h1 class="max-w-prose-narrow font-heading font-heading-weight text-heading inline-block">
    {{ 'templates.404.title' | t }}
  </h1>
  <p class="max-w-prose-narrow text-copy">
    {{ 'templates.404.subtext' | t }}
  </p>
  <a href="{{ routes.all_products_collection_url }}" class="button border border-primary/10 bg-contrast text-primary w-auto">
    {{ 'general.continue_shopping' | t }}
  </a>
</div>
