{%- paginate blog.articles by 6 -%}
  <div class="grid w-full justify-items-start gap-0 p-6 py-8 md:p-8 lg:p-12">
    <h1 class="inline-block max-w-prose-narrow font-heading text-heading font-heading-weight">
      {{ blog.title | escape }}
    </h1>

    <div class="grid w-full grid-flow-row grid-cols-2 gap-6 pt-24">
      {%- for article in blog.articles -%}
        <div>
          {%- render 'article-card', article: article -%}
        </div>
      {%- endfor -%}
    </div>
  </div>
{%- endpaginate -%}

{% schema %}
{
  "name": "Blog posts"
}
{% endschema %}
