<div
  class="pt-(--padding-block-start) pb-(--padding-block-end) gap-(--gap) grid w-full justify-items-start px-6 data-[width=full-width]:px-0 md:px-8 lg:px-12"
  data-width="{{ section.settings.section_width }}"
  style="
    --padding-block-start: {{ section.settings.padding-block-start | default: 0 }}px;
    --padding-block-end: {{ section.settings.padding-block-end | default: 0 }}px;
    --gap: {{ section.settings.gap | default: 0 }}px;
  "
>
  {%- content_for 'blocks' -%}
</div>

{% schema %}
{
  "name": "Section",
  "blocks": [{ "type": "@theme" }, { "type": "@app" }],
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "range",
      "id": "gap",
      "label": "Gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 12
    },
    {
      "type": "header",
      "content": "Size"
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "Width",
      "options": [
        {
          "value": "page-width",
          "label": "Page"
        },
        {
          "value": "full-width",
          "label": "Full"
        }
      ],
      "default": "page-width"
    },
    {
      "type": "header",
      "content": "Padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Section"
    }
  ]
}
{% endschema %}
